<div class="container brico fs-4 shadow-pri">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <%= link_to new_event_path, class: "text-decoration-none" do %>
            +
          <% end %>
        </th>
        <th scope="col">Event</th>
        <th scope="col">Where</th>
        <th scope="col">When</th>
        <th scope="col" class="d-flex justify-content-between">
          <span>Description</span>
          <%= link_to new_event_path, class: "space fw-bold btn btn-primary shadow-pri" do %>
            NEW EVENT
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |e| %>
        <tr>
          <th scope="row">1</th>
          <td>
            <%= link_to e, class: "link-body-emphasis text-decoration-none" do %>
              <%= truncate e.name, length: 21, separator: " " %>
            <% end %>
          </td>
          <td><%= e.location %></td>
          <td><%= day e %></td>
          <td>
            <%= truncate e.description, length: 35, separator: " " %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>