<div class="container brico">
  <div class="row">
    <h1 class="fw-bold display-3"><%= @event.name %></h1>
    <div class="col-md-8">
      <p class="fs-3"><%= @event.description %></p>
    </div>
    <div class="col-md-4">
      <table class="table shadow-pri fs-3">
        <tbody>
          <tr>
            <td>
              <strong>Price: </strong>
              <%= price @event %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Location: </strong>
              <%= @event.location %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Time: </strong>
              <%= day_and_time @event %>
            </td>
          </tr>
          <tr>
            <td class="d-flex justify-content-end">
              <%= link_to "edit", edit_event_path(@event), class: "btn btn-primary fs-5 fw-bold shadow-pri" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>